@import url('https://fonts.google.com/specimen/Young+Serif');
@import url('https://fonts.google.com/specimen/Outfit');
*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
:root{
    --Nutmeg:hsl(14, 45%, 36%);
    --Dark_Raspberry:hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose_White:hsl(330, 100%, 98%);
    --Eggshell:hsl(30, 54%, 90%);
    --Light_Grey:hsl(30, 18%, 87%);
    --Wenge_Brown: hsl(30, 10%, 34%);
    --Dark_Charcoal: hsl(24, 5%, 18%)
}
body{
    max-width: 1440px;
    padding: 5px 15% 30px;
    margin: 20px;
    background-color: var(--Eggshell);

}
#main_page{
    width: 85%;
    padding: auto;
    margin-left: 50px;
    border-radius: 30px;
    background-color: var(--White);
}

img{
    width: 100%;
    height: 400px;
    padding: 30px;
    border-radius: 40px;
}
h1{
    padding: 5px 30px 5px;
    margin:5px;
    font-family:'Young Serif';
    font-weight: 900;
    color: var(--Dark_Charcoal);
}
 .paragraph{
    margin: 15px;
 }
p{

    padding: 8x 5px 15px;
   margin: 2px 20px 15px;
    font-family:'outfit';
    font-weight: bold;
   
    color: var(--Wenge_Brown);
}
#prep_time{
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    background-color: var(--Rose_White);
}
#prep_heading3{
    padding: 5px;
    font-family: 'Outfit';
    font-weight: 600;
    color: var(--Dark_Raspberry);
}
#prep_time li{
padding: 5px 25px;
font-family: 'Outfit';
font-weight: 600;
color: var(--Wenge_Brown);
}
span{
    color: var(--Wenge_Brown);
    font-size: large;
    font-weight: 700;
}
#Ingredients{
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}
#Ingredients h2{
    padding: 10px 10px 10px;
    font-family: 'Outfit';
    font-weight: 700;
    color: var(--Nutmeg);
}

#Ingredients li{
    padding: 5px 25px 10px;
    font-family: 'Young Serif';
    font-weight: 600;
    color: var(--Wenge_Brown);
    }
#Instructions{
    padding: 10px;
    margin: 30px;
}
#Instructions h2{
    padding: 5px 10px 10px;
    font-family: 'Young Serif';
    font-weight: 600;
    color: var(--Nutmeg);
}
#Instructions li{
    padding: 5px 25px 6px;
    font-family: 'Outfit';
    font-weight: 500;
    color: var(--Wenge_Brown);
    }
    #Nutrition{
        padding: 15px;
    margin: 10px;
    }
    #Nutrition h2{
        padding: 10px 10px 3px;
        font-family: 'Outfit';
        font-weight: 600;
        color: var(--Nutmeg);
    }
    hr{
        color: var(--Dark_Charcoal);
    }
    table{
        width: 100%;
    }
    th, td {
        padding: 15px;
        text-align: left;

      }
      .td1{
        color: var(--Wenge_Brown);
        font-family: 'Outfit';
        font-weight: 600;
      }
      .td2{
        color: var(--Dark_Raspberry);
        font-family: 'Outfit';
        font-weight: 700;
        font-size: large;
      }
      .table_hr1{
        position:relative;
        top: 50px;
        left: 2px;
      }
      .table_hr2{
        position:relative;
        top: 100px;
        left: 2px;
      }
      .table_hr3{
        position:relative;
        top: 150px;
        left: 2px;
      }
      .attribution{
        padding: 12px;
        margin: 10px;
      }
      @media screen and (max-width:1440px)  {
        .hidden-image{
            display: none;
        }
      }
      @media  screen and (max-width:600px){
        body{
           background-color: var(--Dark_Charcoal);
        }
        main{
            border: none;
            border-radius: none;
        }
        .hidden-image{
            display: block;
        }
       
      }